.block {
    margin-bottom: 15px;
    display: flex;
    background-color: var(--color3);
    padding: 12px;
    border-radius: 10px;
}
._img{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 210px ;
    background-color: var(--color4);
    border-radius:10px ;
}
.block img{
    max-height: 200px;
    height: 100%;
    padding: 5px;
    
}
.flex{
    display: flex;
}
.set{
    background-color: var(--color3);
    width: 100%;
    max-width: 400px;
    margin-left: 15px;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.set .h4{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color4);
}
.set p{
    margin-bottom: 15px;
}
.stigm_name{
    margin: 6px 0 10px;
}
.stats{
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}
.stats p{
    margin-right: 12px;
    margin-bottom: 0;
}
.underblock{
    margin-left: 15px;
}
.name, h4{
    padding-bottom: 5px !important;
    margin-bottom: 0;
}
.name, .stats{
    border-bottom: 2px solid var(--color4);
}
@media(max-width:1000px){
    .flex p,.disc{
        font-size: 14px;
    }
}
@media(max-width:930px){
    .flex{
        flex-direction: column;
    }
    .flex p,.disc{
        font-size: 16px;
    }
    .set{
        max-width: none;
        margin-left: 0px;
        padding: 12px;
        margin-bottom: 15px;
        border-radius: 10px;
    }
}
@media(max-width:670px){
    .flex p,.disc{
        font-size: 14px;
    }
    ._img{
        min-width: 160px ;
    }
    .block img{
        max-height: 150px;        
    }
}
@media(max-width:510px){
    .flex p,.disc{
        font-size: 13px;
    }
    ._img{
        margin-bottom: 10px;
    }
    .block{
        flex-direction: column;
    }
    .underblock{
        margin-left: 0;
    }
}


