:root{
    --color1: #2c5b58;
    --color2: #00a298;
    --color3: #444444;
    --color4: #383838;
    --color5: #f9f9fd;
}
#footer_banner {
    position: fixed;
    z-index: -1;
    right: calc(100vw - 100% - 10%);
    bottom: 0;
    width: 100%;
    max-width: calc(100% - 100vw + 30%);
}
@media (min-width: 1600px) {
    #footer_banner {
      right: calc(100vw - 100% - 8%);
    }
  }
  @media (max-width: 1500px) {
    #footer_banner {
      right: calc(100vw - 100% - 11%);
    }
  }
  @media (max-width: 1400px) {
    #footer_banner {
      display: none;
    }
  }